<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fetchWeather</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <img id="weathermanPNG" src="css/weatherman.png" width="500px">
    <h1>Check Your Cities Current Weather!</h1>
    <p>Enter the city you want to check below and click submit</p>
    <form action="/getWeather" method="POST">
        <input type="text" name="city">
        <button class="submit" role="button">Submit</button>
        <br>
        <br>
        <span>City:</span>
        <br>
        <br>
        <span>Current Weather:</span>
    </form>

    <script src="js/main.js"></script>
</body>
</html>